@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-orbitron {
    font-family: 'Orbitron', sans-serif;
  }
}
